# <span style="color:blue; font-weight:bold;">World Cup Events - Data Mining Mission</span>

The FIFA World Cup stands as the pinnacle of international football, orchestrated by the eminent governing body, FIFA. This transcendent tournament, which has seen 22 editions as of the 2022 FIFA World Cup, serves as a spirited battleground for 80 national teams from across the globe.

As a top-notch football event, the World Cup grabs attention from around the world, drawing fans from all corners. Your task is to dig into the stories of this prestigious competition, finding interesting facts about the tournaments, exciting matches, famous teams, standout players, and the respected stadiums that hold the tales of football history.

## IMPORTS

#### Standards

In [128]:
from pathlib import Path

#### Externals

In [129]:
import warnings
import pandas as pd

## CONFIGS

#### Folders

In [130]:
ROOT = Path("../")
RAW = ROOT / "data/raw"
PROCESSED = ROOT / "data/processed"
CACHE  = str(ROOT / ".mypycache")

## OPTIONS

#### Warnings

In [131]:
warnings.filterwarnings("ignore")

## DATASETS

In [132]:
matches = pd.read_csv(RAW/'matches.csv')
attendance = pd.read_csv(RAW/'attendance.csv')
stadiums = pd.read_csv(RAW/'stadiums.csv')
players = pd.read_csv(RAW/'players.csv')
squads = pd.read_csv(RAW/'squads.csv')
tournaments = pd.read_csv(RAW/'tournaments.csv')
goals =  pd.read_csv(RAW/'goals.csv')

Let's have a quick look on the data

In [133]:
print('matches shape:',matches.shape)
matches.head()

matches shape: (964, 37)

,key_id,tournament_id,tournament_name,match_id,match_name,stage_name,group_name,group_stage,knockout_stage,replayed,...,away_team_score_margin,extra_time,penalty_shootout,score_penalties,home_team_score_penalties,away_team_score_penalties,result,home_team_win,away_team_win,draw
0,1,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,group stage,Group 1,1,0,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
1,2,WC-1930,1930 FIFA World Cup,M-1930-02,United States v Belgium,group stage,Group 4,1,0,0,...,-3,0,0,0-0,0,0,home team win,1,0,0
2,3,WC-1930,1930 FIFA World Cup,M-1930-03,Yugoslavia v Brazil,group stage,Group 2,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0
3,4,WC-1930,1930 FIFA World Cup,M-1930-04,Romania v Peru,group stage,Group 3,1,0,0,...,-2,0,0,0-0,0,0,home team win,1,0,0
4,5,WC-1930,1930 FIFA World Cup,M-1930-05,Argentina v France,group stage,Group 1,1,0,0,...,-1,0,0,0-0,0,0,home team win,1,0,0

In [134]:
print('attendance shape:',attendance.shape)
attendance.head()

attendance shape: (964, 4)

   home_team away_team  Attendance        Date
0  Argentina    France       88966  2022-12-18
1    Croatia   Morocco       44137  2022-12-17
2     France   Morocco       68294  2022-12-14
3  Argentina   Croatia       88966  2022-12-13
4    Morocco  Portugal       44198  2022-12-10

In [135]:
print('stadiums shape:',stadiums.shape)
stadiums.head()

stadiums shape: (193, 8)

,key_id,stadium_id,stadium_name,city_name,country_name,stadium_capacity,stadium_wikipedia_link,city_wikipedia_link
0,1,S-001,Estadio José Amalfitani,Buenos Aires,Argentina,49000,https://en.wikipedia.org/wiki/José_Amalfitani_...,https://en.wikipedia.org/wiki/Buenos_Aires
1,2,S-002,Estadio Monumental,Buenos Aires,Argentina,75000,https://en.wikipedia.org/wiki/Estadio_Monument...,https://en.wikipedia.org/wiki/Buenos_Aires
2,3,S-003,Estadio Chateau Carreras,Córdoba,Argentina,47000,https://en.wikipedia.org/wiki/Estadio_Mario_Al...,"https://en.wikipedia.org/wiki/Córdoba,_Argentina"
3,4,S-004,Estadio José María Minella,Mar del Plata,Argentina,44000,https://en.wikipedia.org/wiki/Estadio_José_Mar...,https://en.wikipedia.org/wiki/Mar_del_Plata
4,5,S-005,Estadio Ciudad de Mendoza,Mendoza,Argentina,35000,https://en.wikipedia.org/wiki/Estadio_Malvinas...,"https://en.wikipedia.org/wiki/Mendoza,_Argentina"

In [136]:
print('players shape:',players.shape)
players.head()

players shape: (8485, 12)

,key_id,player_id,family_name,given_name,birth_date,goal_keeper,defender,midfielder,forward,count_tournaments,list_tournaments,player_wikipedia_link
0,1,P-08891,A'Court,Alan,1934-09-30,0,0,0,1,1,1958,https://en.wikipedia.org/wiki/Alan_A%27Court
1,2,P-08589,Aaronson,Brenden,2000-10-22,0,0,0,1,1,2022,https://en.wikipedia.org/wiki/Brenden_Aaronson
2,3,P-04897,Abadzhiev,Stefan,1934-07-03,0,0,0,1,1,1966,https://en.wikipedia.org/wiki/Stefan_Abadzhiev
3,4,P-05556,Abalo,Jean-Paul,1975-06-26,0,1,0,0,1,2006,https://en.wikipedia.org/wiki/Jean-Paul_Abalo
4,5,P-08163,Abanda,Patrice,1978-08-03,0,1,0,0,1,1998,https://en.wikipedia.org/wiki/Patrice_Abanda

In [137]:
print('squads shape:',squads.shape)
squads.head()

squads shape: (10973, 12)

,key_id,tournament_id,tournament_name,team_id,team_name,team_code,player_id,family_name,given_name,shirt_number,position_name,position_code
0,1,WC-1930,1930 FIFA World Cup,T-03,Argentina,ARG,P-06987,Bossio,Ángel,0,goal keeper,GK
1,2,WC-1930,1930 FIFA World Cup,T-03,Argentina,ARG,P-00287,Botasso,Juan,0,goal keeper,GK
2,3,WC-1930,1930 FIFA World Cup,T-03,Argentina,ARG,P-01435,Cherro,Roberto,0,forward,FW
3,4,WC-1930,1930 FIFA World Cup,T-03,Argentina,ARG,P-01321,Chividini,Alberto,0,defender,DF
4,5,WC-1930,1930 FIFA World Cup,T-03,Argentina,ARG,P-08552,Della Torre,José,0,defender,DF

In [138]:
print('tournaments shape:',tournaments.shape)
tournaments.head()

tournaments shape: (22, 18)

,key_id,tournament_id,tournament_name,year,start_date,end_date,host_country,winner,host_won,count_teams,group_stage,second_group_stage,final_round,round_of_16,quarter_finals,semi_finals,third_place_match,final
0,1,WC-1930,1930 FIFA World Cup,1930,1930-07-13,1930-07-30,Uruguay,Uruguay,1,13,1,0,0,0,0,1,0,1
1,2,WC-1934,1934 FIFA World Cup,1934,1934-05-27,1934-06-10,Italy,Italy,1,16,0,0,0,1,1,1,1,1
2,3,WC-1938,1938 FIFA World Cup,1938,1938-06-04,1938-06-19,France,Italy,0,15,0,0,0,1,1,1,1,1
3,4,WC-1950,1950 FIFA World Cup,1950,1950-06-24,1950-07-16,Brazil,Uruguay,0,13,1,0,1,0,0,0,0,0
4,5,WC-1954,1954 FIFA World Cup,1954,1954-06-16,1954-07-04,Switzerland,West Germany,0,16,1,0,0,0,1,1,1,1

In [139]:
print('goals shape:',goals.shape)
goals.head()

goals shape: (2720, 27)

,key_id,goal_id,tournament_id,tournament_name,match_id,match_name,match_date,stage_name,group_name,team_id,...,shirt_number,player_team_id,player_team_name,player_team_code,minute_label,minute_regulation,minute_stoppage,match_period,own_goal,penalty
0,1,G-0001,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,1930-07-13,group stage,Group 1,T-28,...,0,T-28,France,FRA,19',19,0,first half,0,0
1,2,G-0002,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,1930-07-13,group stage,Group 1,T-28,...,0,T-28,France,FRA,40',40,0,first half,0,0
2,3,G-0003,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,1930-07-13,group stage,Group 1,T-28,...,0,T-28,France,FRA,43',43,0,first half,0,0
3,4,G-0004,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,1930-07-13,group stage,Group 1,T-44,...,0,T-44,Mexico,MEX,70',70,0,second half,0,0
4,5,G-0005,WC-1930,1930 FIFA World Cup,M-1930-01,France v Mexico,1930-07-13,group stage,Group 1,T-28,...,0,T-28,France,FRA,87',87,0,second half,0,0

## Data Cleaning and Integration

#### <span style="color:blue; font-weight:bold;">a. Fill in the gaps</span>

We have data from different sources and need to combine them in order to get a more complete picture of the World Cup events, So we are interested in merging the attendance dataset and the Fjelstul dataset.


The final dataset contains all the attributes from the matches table as well as The number of crowd attendance from attendance dataset, stadium capacity from the stadium table in the Fjelstul dataset.

In [140]:
# Merging the matches & stadiums dataFrames based on 'satdium_name' column
matches = pd.merge(matches, stadiums[['stadium_name', 'stadium_capacity']], on='stadium_name', how='left')

# Changing the names of attendance dataFrame column so that merge could be applied
attendance = attendance.rename(columns={'home_team': 'home_team_name', 'away_team': 'away_team_name',
                                        'Attendance': 'attendance', 'Date': 'match_date'})

# Merging the data & attendance dataFrames based on ['home_team_name', 'away_team_name', 'match_date'] columns
matches = pd.merge(matches, attendance[['home_team_name', 'away_team_name', 'match_date','attendance']],
                   on=['home_team_name','away_team_name','match_date'], how='left')

To ensure the integrity and completeness of the expanded data set, we handled issues such as null values, column transitions, and duplicate items.

In [141]:
# Checking for null values
matches.isnull().sum()

key_id                         0
tournament_id                  0
tournament_name                0
match_id                       0
match_name                     0
stage_name                     0
group_name                     0
group_stage                    0
knockout_stage                 0
replayed                       0
replay                         0
match_date                     0
match_time                     0
stadium_id                     0
stadium_name                   0
city_name                      0
country_name                   0
home_team_id                   0
home_team_name                 0
home_team_code                 0
away_team_id                   0
away_team_name                 0
away_team_code                 0
score                          0
home_team_score                0
away_team_score                0
home_team_score_margin         0
away_team_score_margin         0
extra_time                     0
penalty_shootout               0
score_penalties                0
home_team_score_penalties      0
away_team_score_penalties      0
result                         0
home_team_win                  0
away_team_win                  0
draw                           0
stadium_capacity               0
attendance                   115
dtype: int64

<div style="padding: 10px; max-width: fit-content; background-color: rgba(25, 183, 114, 0.1);">
  <span style="color: #19b772; font-size: 20px; font-weight:bold;">Conclusion:</span><br>
  <span display:inline-block;">
We can observe that the attendance column contains missing values and that is because there are instances where the combination of <span style="font-weight:bold; font-style:italic;">home_team_name, away_team_name</span>, and <span style="font-weight:bold; font-style:italic;">match_date</span> exists in the matches dataset but lacks corresponding entries in the attendance dataset.</span>
</div>

In [142]:
# Filling the missing values in attendace column with the median

median_attendance = matches['attendance'].median()
matches['attendance'].fillna(median_attendance, inplace=True)

In [143]:
# Save the processed data to CSV file
matches.to_csv(PROCESSED/'matches.csv', index=False)
attendance.to_csv(PROCESSED/'attendance.csv', index=False)

#### <span style="color:blue; font-weight:bold;">b. From rough to polished</span>

<span style="display:inline-block;">According to FIFA rules, a player is allowed to represent only one national team in official competitions, including the World Cup, however there have been a few instances where a player has played for more than one national team in his career, but not in the same tournament. So we'll <span style="font-weight:bold">Create</span> a new dataframe <span style="color:blue; font-style:italic; font-weight:bold">player_teams</span> using the teams in Squads table and players in Players table in the Fjelstul dataset


<span style="display:inline-block;">The resulting dataset includes player’s <span style="color:blue; font-style:italic;">first name, last name, number</span> and <span style="color:blue; font-style:italic;">name of tournaments</span> (a list)  in which he participated from the Players table, along with <span style="color:blue; font-style:italic;">team names</span> (a list), <span style="color:blue; font-style:italic;">team symbols</span> (also a list), and the <span style="color:blue; font-style:italic;">number of teams</span>that the player represented during his career in the World Cup.

In [144]:
# Creating teams dataframe from squads for the values list of teams_name & teams_code & teams_num
teams = squads.groupby(['player_id', 'given_name', 'family_name']).agg(
    list_teams_name=('team_name', lambda x: list(set(x))), list_teams_code=('team_code', lambda x: list(set(x))),
    teams_num=('team_id', 'nunique')).reset_index()

# Merging the players & teams dataFrames based on 'player_id' column:
players_teams = pd.merge(players[['player_id', 'given_name', 'family_name', 'count_tournaments', 'list_tournaments']], 
                         teams[['player_id', 'list_teams_name', 'list_teams_code','teams_num']],
                         on='player_id')
players_teams

,player_id,given_name,family_name,count_tournaments,list_tournaments,list_teams_name,list_teams_code,teams_num
0,P-08891,Alan,A'Court,1,1958,[England],[ENG],1
1,P-08589,Brenden,Aaronson,1,2022,[United States],[USA],1
2,P-04897,Stefan,Abadzhiev,1,1966,[Bulgaria],[BGR],1
3,P-05556,Jean-Paul,Abalo,1,2006,[Togo],[TGO],1
4,P-08163,Patrice,Abanda,1,1998,[Cameroon],[CMR],1
...,...,...,...,...,...,...,...,...
8480,P-06718,Maciej,Żurawski,2,"2002, 2006",[Poland],[POL],1
8481,P-03465,Szymon,Żurkowski,1,2022,[Poland],[POL],1
8482,P-08318,Graham,Zusi,1,2014,[United States],[USA],1
8483,P-05921,Andrei,Zygmantovich,1,1990,[Soviet Union],[SUN],1
8484,P-03072,Valery,Zykov,1,1970,[Soviet Union],[SUN],1

In [145]:
# checking for missing values
players_teams.isnull().sum()

player_id            0
given_name           0
family_name          0
count_tournaments    0
list_tournaments     0
list_teams_name      0
list_teams_code      0
teams_num            0
dtype: int64

In [146]:
# Save the players_teams data to CSV file
players_teams.to_csv(PROCESSED/'players_teams.csv', index=False)